<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>home</title>
	</head>
	<body>
		<header>
		</header>
		<h1>MahamoK TODAY:</h1>
		<div class="wrapper">
			<form>
				<input id="todo-input" type="text" placeholder="Write Your task and hit Enter to add" required>
				<button id="add-button">ADD</button>
			</form>
			<ul id="to-do list">
				<li class="todo">
					<input type="checkbox" id="todo-1">
					<label class="custom-checkbox" for="todo-1">
						<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
					</label>
				</li>
			</ul>
		</div>
		<footer>
		</footer>
	</body>
</html>
