<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MahamoK Guest page</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/guest.css') }}">
</head>
<body>

    <div class="corner">
      <button class="sign" onclick="window.location.href='{{ url_for('signin') }}'" >Sign In</button>
      <p id="or">or</p>
      <button class="sign" onclick="window.location.href='{{ url_for('signup') }}'">Sign Up</button>
      
    </div>
  
  <div class="container">
      <h1>MahamoK Guest Mode</h1>
      <hr>
      <br>
      <p>Hi, Guest😊</a></p>
      <br>
    </div>
      <main>
        <div id="todo-container">
          <h2>My Tasks</h2>
          <ul id="todo-list"></ul>
          <div class="add-task-form">
            <input type="text" id="new-task" placeholder="Enter your task">
            <button id="add-task">Add Task</button>
          </div>
        </div>
      </main>
      
  <script src=""{{ url_for('static', filename='guest.js') }}"></script>
</body>
</html>
