:root{
        --background: #FEFBE7;
        --primary-color: #99a8bb;
        --secondary-color: #4e6190;
        --accent-color: #124C81;
        --text-color: #124C81;
}

*{
        margin: 0;
        padding: 0;
}

html{
  font-family: Scheherazade New, lexend, monospace;
  font-size: 16pt;
  color: var(--primary-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background);
	background-repeat: no-repeat;
	background-position: top left;
   	background-size: 300px auto;
	}

.container {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 400px;
	}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: var(--accent-color);
	}

.form-group {
	margin-bottom: 10px;
	}
	
#login-form,
#signup-form{
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 5px;
	}

input[type="email"],
input[type="text"],
input[type="password"] {
	font-family: Scheherazade New, lexend, monospace;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	}

button[type="submit"] {
	background-color: var(--secondary-color);
	color: white;
	font-family: Scheherazade New, lexend, monospace;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	}

button[type="submit"]:hover {
	background-color: var(--accent-color) ;
	}

a {
	text-decoration: none;
	color: var(--secondary-color);
	}
a:hover{
	color: var(--accent-color);
	}
p {
	padding: 3px;
	font-size: 0.8rem;
	text-align: center;
}
